<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>

{% assign description = page.description | default: site.description %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}

{% include favicon.html %}


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="The Internet Observatory (Obsrva) is a vulnerability research project founded by independent security researcher Tyler Butler. Obsrva engages product vendors in coordinated disclosures, publishes vulnerability advisories, and creates proof of concept exploits." />
<meta name="twitter:title" content="The Internet Observatory" />
<meta name="twitter:site" content="@tbutler0x90" />
<meta name="twitter:image" content="/assets/img/obsrva.png" />
<meta name="twitter:creator" content="@tbutler0x90" />