<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">🎉  &nbsp&nbsp We recently published 3 CVE's</p>
          <p class="usa-banner__header-action" aria-hidden="true">Find out more</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Find out more</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg" role="img" alt="foo">
          <div class="usa-media-block__body">
            <p>
              <strong>CVE-2021-35956</strong>
              <br/>
              Stored cross-site scripting (XSS) in the embedded webserver of AKCP sensorProbe before SP480-20210624 enables remote authenticated attackers to introduce arbitrary JavaScript via the Sensor Description, Email (from/to/cc), System Name, and System Location fields.
            </p>
            <a href="/2021/06/06/CVE-2021-35956.html"><button type="button" class="btn btn-dark btn-sm">Read More</button></a>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg" role="img" alt="foo">
          <div class="usa-media-block__body">
            <p>
              <strong>CVE-2021-3441</strong>
              <br/>
              Stored cross-site scripting (XSS) in the embedded webserver of certain HP OfficeJet Printers—including the 4630  e-All-in-One Printer and 7110 Wide Format ePrinter— enables remote unauthenticated attackers to introduce arbitrary JavaScript via the printer name and printer location fields.
            </p>
            <a href="/2021/08/22/CVE-2021-3441.html"><button type="button" class="btn btn-dark btn-sm">Read More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>