<section class="usa-banner" aria-label="Official government website">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <i class="fas fa-lg fa-rocket"></i>
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">&nbsp&nbsp&nbsp Looking to get involved with VERONA Labs?</p>
          <p class="usa-banner__header-action" aria-hidden="true">Check out our Openings</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Check out our Google Form</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-dot-gov.svg" role="img" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>Vulnerability Researcher</strong>
              <br/>
              Vulnerability researchers find lead products and applications, conduct vulnerability scans and analysis, and engage in vendor partners to triage and mitigate identified vulnerabilities.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg" role="img" alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>Developer</strong>
              <br/>
              Developers design, deploy, and maintain VERONA tools such as CTI discovery applications and the VERONA website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>