{% assign graphics = include.graphics %}
{% if graphics %}
<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    {% for graphic in graphics %}
      {% cycle '<div class="usa-graphic-list__row grid-row grid-gap">', '' %}
      <div class="usa-media-block tablet:grid-col">
        <img class="usa-media-block__img"  src="{{ graphic.image.src | relative_url }}" alt="{{ graphic.image.alt }}">
        <div class="usa-media-block__body">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
      {% cycle '', '</div>' %}
    {% endfor %}
  </div>
</section>
{% endif %}
