---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main desktop:grid-col-9 usa-prose
---

<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-align-start">
      {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
      {% if sidenav %}
        <div class="usa-layout-docs__sidenav desktop:grid-col-3{% if page.sticky_sidenav %} usa-sticky-sidenav{% endif %}">
          {% include sidenav.html links=sidenav %}
        </div>
      {% endif %}

      <main class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}" id="main-content">
          <div class="card mb-3 border-0" style="width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{page.img}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title"><a href="{{page.url}}" style="color:black;text-decoration: none;"><b>{{ page.title }}</b></a> &nbsp&nbsp <span class="badge bg-fun" style="background-color:#162e51;">{{page.cve}}</span> </h2>
                  <br> 
                  <img class="postar" style='vertical-align:middle;' src='https://res.cloudinary.com/tbutler-org/image/upload/v1625867137/me_roxdid.png'>
                    <div style='vertical-align:middle; display:inline;' class="text-muted">
                    By Tyler Butler, {{page.date | date: "%b %d, %Y"}}
                    </div>
                </div>
              </div>
            </div>
          </div>
        {{ content }}
      </main>
    </div>
  </div>
</div>
